@import "./Utils/mixins";
@import "./Utils/variables";
@import "./Utils/keyframes";
@import "./Utils/animation";
@import "./Base/base";
@import "./Layout/header";
@import "./Layout/headermenu";
@import "./Layout/footer";
@import "./Pages/home";
@import "./Pages/menu";


