.footer{
    background-color: #3D3E3C;
    height: 200px;
    margin: 0;
    
    &__container{
        @include desktop{
            max-width: 1000px;
            margin: 0 auto;
        }    
    }

    &__titre{
        font-family: $policePrimary;
        color: #FFFFFF;
        font-size: medium;
        margin: 0;
        padding: 30px 0px 10px 25px;
    }

    &__liste{
        margin: 0;
        margin-left: 25px;
        padding: 0;
    }

    &__mail{
        text-decoration: none;
        color: inherit;
    }

    li{
        list-style: none;
        color: #FFFFFF;
        margin-bottom: 5px;
    }

    .fa-utensils{
        margin-right: 12px;
    }

    .fa-hands-helping{
        margin-right: 5px;
    }
}
