.headerMenu{
    @include flexbox(center);
    width: 100%;
    padding: 25px 0px 5px;
    position: relative;
    @include desktop{
        height: 80px;
    }

    &__icone{
        position: absolute;
        top: 30px;
        left: 30px;
        color: black;
        @include desktop{
            top: 50px;
            left: 100px;
        }
    }
}

.imgMenu{
    height: 250px;
    width: 100%;
    object-fit: cover;
    @include desktop{
        height: 400px;
    }
}